.header {
  /* position: fixed;
  z-index: 9999;
  width: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #22b3c1;
  /* margin-bottom: 100px; */
}
.header-menu {
  display: flex;
  gap: 30px;
}

.header-langs {
  display: flex;
  gap: 15px;
}
.header-logo h1 {
  font-size: 40px;
  font-family: Poppins, sans-serif;
}
.header-menu li a {
  font-size: 17px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #fff;
}
.header-langs li a {
  font-size: 17px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #fff;
}
.header-langs li a i {
  font-size: 20px;
  color: #fff;
}
.header-bars i {
  display: none;
  font-size: 25px;
  color: #fff;
}
@media (max-width: 840px) {
  /* .header {
    justify-content: space-between;
  } */
  .header-menu {
    display: none;
  }
  .header-langs {
    display: none;
  }
  .header-bars i {
    display: block;
  }
}
